:root {
    font-size: 60%;
}

* {
    line-height: 1.5;
}

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
}

body,
input,
button,
textarea {
    font: 400 1.8rem Karla;
}

input:active,
button:active,
textarea:active,
input:focus,
button:focus,
textarea:focus {
    outline: none;
}

input:active,
textarea:active,
input:focus,
textarea:focus {
    border: 0;
}

button:focus,
button:active {
    border: 0.3rem solid hsl(0, 0%, 98%);
}

button {
    background-color: transparent;
    padding: 0.6rem;
    border: 0;
}

h1,
h2 {
    font: 400 3.8rem 'DM Serif Display';
}

h4 {
    font: 400 2.5rem 'DM Serif Display';
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    margin-top: 12vh;
    margin-bottom: 10rem;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
}

@media(min-width: 767px) {
     :root {
        font-size: 62.4%;
    }
}