.header__navigation {
    background-color: #fff;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    box-shadow: 0 0 10px 0px hsl(270, 9%, 17%);
}

.header__navigationContent {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

.header__menu {
    justify-content: center;
}

.header__navigationContent,
.header__menu {
    display: flex;
    align-items: center;
}

.header__menuList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-right: 1.5rem;
    align-items: center;
    margin: 0 auto;
}

.header__button {
    padding: 1.2rem 1rem;
}

.header__menuNavigation {
    background-color: hsl(270, 9%, 17%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 12rem;
    z-index: 10;
    justify-content: space-between
}

.header__navigationContentLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 30;
    background-color: #fff;
    padding: 2rem 3rem;
}

.header__menuListItem {
    margin-bottom: 3rem;
}

.header__linkList {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.cards_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__title {
    text-align: center;
    color: hsl(270, 9%, 17%);
}

.cards__line {
    height: 1px;
    width: 45%;
    background-color: hsl(273, 4%, 51%);
    border: 0;
    margin-bottom: 3rem;
}

.footer__redesSociais {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 23rem;
    padding: 3rem;
    align-items: center;
}

.footer__imageTop {
    width: 100%;
}

.footer__imageTop {
    top: 0;
    width: 100%;
    position: absolute;
    left: 0;
}

.footer__redesSociaisContent {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 3rem auto 0;
}

.footer__division {
    width: 80%;
    margin-top: 2rem;
}

.footer__logo,
.footer__division {
    z-index: 2;
}

.footer__menu {
    padding-bottom: 8rem;
}

.footer__menuContent {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__menuTitle {
    font-weight: 700;
    color: hsl(273, 4%, 51%);
}

.footer__menuItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.footer__menuItemLink {
    color: hsl(256, 26%, 20%);
    font-weight: 700;
}

.footer__redesSociaisTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width: 767px) {
    .header__menuNavigation {
        background-color: transparent;
        flex-direction: row;
        width: 100%;
        position: static;
        padding-top: 0;
        justify-content: flex-end;
    }
    .header_imagemMobile {
        display: none;
    }
    .header__linkList {
        color: hsl(273, 4%, 51%);
        font-size: 1.5rem;
        font-weight: 700;
    }
    .header__menuList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin: 0 2rem 0 0;
    }
    .header__menuListItem {
        margin-bottom: 0;
    }
    .header__navigationContent {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0.4rem 0;
    }
    .header__navigationContentLeft {
        width: 50%;
    }
    .header__navigationContentRight {
        width: 50%;
    }
    .cards {
        align-items: flex-start;
        margin: 20rem auto 5rem auto;
        width: 80%;
        max-width: 1000px;
    }
    .cards_content {
        flex-direction: row;
    }
    .cards__line {
        width: 20%;
    }
    .footer__imageTop {
        display: none;
    }
    .footer__redesSociaisTop {
        width: 100%;
        max-width: 1000px;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__redesSociaisContent {
        margin: 0;
    }
    .footer__menu {
        display: flex;
        width: 100%;
        max-width: 1000px;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__menuContent {
        width: 25%;
    }
    .footer__menuContent,
    .footer__menuItems {
        align-items: flex-start;
    }
}